
.dropdown-toggle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__dropdown-button {
        margin-top: 0.5rem;
        width: 100%;
    }

    &__dropdown-menu {
        position: absolute;
        top: 100%;
        z-index: 2;
        display: inline-flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 1rem;
        background: lighten($primary, 10%);
        border: 1px solid $primary;
        max-height: 10rem;
        overflow: auto;
    }
}