.search-bar {

    &__container {
        position: relative;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__input {
        padding: 0.5rem 5rem 0.5rem 1rem;
        border: 1px solid $primary;
        border-radius: 1rem;
        width: 100%;
        box-shadow: $box-shadow;
    }

    &__search {
        border-radius: 0 1rem 1rem 0;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }
}