
.timeframe-toggle {
    display: inline-flex;
    flex-direction: column;

    &__dropdown-menu {
        display: inline-flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 1rem;
        background: lighten($primary, 10%);
        border: 1px solid $primary;
    }
}