.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__heading {
        flex: 0 0 100%;
        margin-bottom: 3rem;
    }

    &__select {
        //display: flex;
        //flex-direction: row;
        flex: 0 0 40%;
        justify-content: center;

        @media only screen and (max-width: $site-lg-breakpoint) {
            flex: 0 0 100%;
        }
    }

    &__toggles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    &__toggle {
        //margin-right: 3rem;
        flex: 0 0 30%;
    }

    &__results-container {
        flex: 0 0 60%;
 
        @media only screen and (max-width: $site-lg-breakpoint) {
            flex: 0 0 100%;
            margin-top: 2rem;
            min-height: 10rem;
        }       
    }

    &__results {
        height: 100%;
        border: 1px solid $black;
        border-radius: 1rem;
        padding: 1rem;
        background: $white;
        margin-left: 2rem;

        @media only screen and (max-width: $site-lg-breakpoint) {
            margin-left: 0;
        }
    }
}