.home {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    margin: 3rem auto;

    &__heading {
        flex: 0 0 100%;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__select {
        flex: 0 0 40%;
        justify-content: center;

        @media only screen and (max-width: $site-lg-breakpoint) {
            flex: 0 0 100%;
            background-color: $off-white;
            padding: 1rem;
            border-radius: 4px;
            box-shadow: $box-shadow;
            border: 1px solid $black;
        }
    }

    &__toggles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    &__toggle {
        flex: 0 0 30%;
        margin-top: auto;
    }

    &__results-container {
        flex: 0 0 60%;
 
        @media only screen and (max-width: $site-lg-breakpoint) {
            flex: 0 0 100%;
            margin-top: 2rem;
            min-height: 10rem;
        }       
    }

    &__dropdown-button {
        margin-bottom: 0.5rem;
    }
    
    &__results {
        height: 100%;
        border: 1px solid $black;
        border-radius: 4px;
        box-shadow: $box-shadow;
        padding: 1rem;
        background: $off-white;
        margin-left: 2rem;

        @media only screen and (max-width: $site-lg-breakpoint) {
            margin-left: 0;
        }
    }

    &__results-city {
        margin-bottom: 1rem;
    }

    &__error {
        margin-top: 0.5rem;
    }
}