body {
    margin: 0;
    background: linear-gradient(to right, $light-blue , $dark-blue);
}

* {
    box-sizing: border-box;
    text-size-adjust: none;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: $h1-font-size;
    margin-top: 0;
    margin-bottom: 2rem;
}

h2 {
    font-size: $h2-font-size;
    margin-top: 0;
}


.button {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: $box-shadow;

    &-primary {
        background: $primary;
        color: $white;

        &:hover,
        &:focus {
            background: darken($primary, 10%);
        }
    }

    &-secondary {
        background: $secondary;

        &:hover,
        &:focus {
            background: darken($secondary, 10%);
        }
    }
}