
.is-hidden { 
  display: none !important;
}

.d-sm-none {
  @media only screen and (max-width: $site-sm-breakpoint) {
    display: none !important;
  }
}

.a {
  // i.e. make a button look like an <a>
  display: inline;
  cursor: pointer;
  text-align: inherit;
  border: none;
  padding: 0;

  color: $primary;
  text-decoration: none;
  background-color: $transparent;
  -webkit-text-decoration-skip: objects; 

  &:hover {
    color: $secondary;
    text-decoration: underline;
  }

  &.active {
    color: $secondary;
  }
}

.bold {
  font-weight: 700;
}
