
// colors
$primary: #091fb0;
$red: #d41730;
$light-blue: #6bc9ff;
$light-green: #42b983;

$white: #fff;
$black: #000;
$dark-gray: #333;


// font
$base-font-size: 1rem;
$h1-font-size: $base-font-size * 4;
$h2-font-size: $base-font-size * 1.5;
