
// colors
$primary: #091fb0;
$red: #d41730;
$light-blue: #6bc9ff;
$dark-blue: #010175;
$secondary: #42b983;
$yellow: #ffff21;

$white: #fff;
$black: #000;
$dark-gray: #333;
$lighter-gray: #666;
$lightest-gray: #999;
$off-white: #ddd;
$transparent: #0000;

// font
$base-font-size: 1rem;
$font-size-lg: $base-font-size * 1.125;

$h1-font-size: $base-font-size * 4;
$h2-font-size: $base-font-size * 1.5;


// breakpoints
$site-lg-breakpoint: 1350px;
$site-sm-breakpoint: 650px;


// general

$box-shadow: 0 0 0.375rem rgba($black, 0.4);